.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
    font-size: 12px;
    color: #212529;
    
    
  }
  
  .container:last-child {
    border: none;
  }
  
  .image {
    width: 30px;
  }
  
  .name {
    width: 140px;
    font-size: 14xp;
    margin-left: 15px;
    text-align: left;
    font-weight: bold;
    color: #333333;
  }
  
  .symbol {
    text-align: left;
    width: 100px;
    font-weight: 500;
  }
  
  .currentPrice {
    text-align: left;
    width: 100px;
    font-weight: 500;

  }
  .marketCap {
    font-weight: 500;
    padding-left: 50px;

  }
  
  .greenPriceChange,
  .redPriceChange {
    width: 20px;
    text-align: left;
    padding-right: 40px;
    font-weight: bold;
    
  }
  
  .redPriceChange {
    color: rgb(255, 38, 38);
  }
  
  .greenPriceChange {
    color: rgb(4, 237, 4);
  }
  
  @media (min-width: 320px) and (max-width: 350px) {
    .container {
      padding: 10px 0px;
      
    }
    .greenPriceChange,
    .redPriceChange {
      padding-right: 0;
    }
    .symbol { 
      display: none;
    }
    .marketCap {
      padding-left: 35px;
      padding-right: 5px;
    }
    .image {
      padding-left: 5px;
    }
    .name {
      margin-left: 5px;
    }
  }

  @media (min-width: 350px) and (max-width: 480px) {
    .container {
      padding: 10px 0px;
      
    }
    .greenPriceChange,
    .redPriceChange {
      padding-right: 0;
    }
    .symbol { 
      display: none;
    }
    .marketCap {
      padding-left: 55px;
      padding-right: 5px;
    }
    .image {
      padding-left: 5px;
    }
    .name {
      margin-left: 5px;
    }
  }

  @media (min-width: 481px) and (max-width: 677px) {
    .marketCap {
      padding-left: 20px;
    }
  }

 