
.input {
    width: 300px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    text-align: center;
    background: rgba(187, 187, 187, 0.736);
    transition: all 0.2s ease;
  
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.844);
  }

  .input:focus {
    outline: none;
    border-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
    
  }
  

.coinContainer {
    margin: 50px auto;
    border-radius: 10px;
    width: fit-content;
    background: #567286;
    background: linear-gradient(270deg, rgba(86, 114, 134, 0.6) 25%, rgba(113, 134, 150, 0.6) 50%, rgba(142, 152, 159, 0.6) 75%, rgba(181, 181, 182, 0.6) 100%);
  }

